.lanyard-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 150;
  pointer-events: none;
}
.lanyard-wrapper canvas {
  pointer-events: auto;
  cursor: grab;
}
.lanyard-wrapper canvas:active {
  cursor: grabbing;
}
