.lanyard-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 33vw;
  height: 50vh;
  z-index: 150;
  pointer-events: none;
  overflow: visible;
}
.lanyard-wrapper canvas {
  pointer-events: auto;
  cursor: grab;
  overflow: visible;
}
.lanyard-wrapper canvas:active {
  cursor: grabbing;
}
